HomeworkTDD-Steve-Luna-Andy-David/.idea
HomeworkTDD-Steve-Luna-Andy-David/HomeworkTDD-Steve-Luna-Andy-David/obj
HomeworkTDD-Steve-Luna-Andy-David/TestProject1/obj
HomeworkTDD-Steve-Luna-Andy-David/HomeworkTDD-Steve-Luna-Andy-David/bin
HomeworkTDD-Steve-Luna-Andy-David/TestProject1/bin
HomeworkTDD-Steve-Luna-Andy-David/HomeworkTDD-Steve-Luna-Andy-David.sln.DotSettings.user
